* {
  box-sizing: border-box;
}


body {
  margin:0;

}
a {
  text-decoration: none;
}
li {
    text-decoration: none;
    display: inline;
}
header {
  height:65px;
  width:100%;
  background-color: white;


}
.header h1 {
  font-size: 100px;


}
.header-right  {
  font-size: 15px;
  float:right;
  display: inline;
  text-decoration: none;
  margin-right: 10px;
  font-family: 'Montserrat', sans-serif;
  margin-top: 10px;
  padding-left: 50px;

}
.header-right li:hover {

  text-decoration-line: underline;
　
}
.header-right li {

  padding: 33px 20px;
}

.header-left {
  float:left;
  font-family: 'Bebas Neue', cursive;

}

.header-left h1 {
  padding-left: 10px;
  font-size: 30px;
}
.container {
  margin: 0 auto;
  width:100%;
  padding:0 15px;

}

.top-wrapper{
  padding:100px 0 100px 0;
  position: relative;
  background-color: black;
  background-size: cover;
  text-align: center;

}
.top-wrapper h1 {
  font-family: 'Bebas Neue', cursive;
  font-size: 100px;
  color:white;
  font-weight: lighter;
}

.concept-wrapper {
  height:680px;
  padding-bottom: 180px;
  background-color: white;
  background-size:cover;
  text-align: center;
}
.concept-wrapper p {
  font-family: 'Noto Sans JP', sans-serif;
  color:black;


}
.heading {
  padding: 60px 0 30px 0;
  color:#5f5d60;
}
.heading h2 {
  color:black;
  font-family: 'Montserrat', sans-serif;
  font-size: 50px;
  letter-spacing: 0.3em;
  padding-bottom: 50px;
}

.btn {
  padding:8px 24px;

  display:inline-block;
  opacity:0.8;
  border-radius: 1px;

  margin: 20px 0;


}
.btn:hover {
  background-color: white;


}
.check {

  transition: 0.5s;
  color:black;
  border: solid 1px black;

}
.check:hover {
  transition: 0.5s;
  background-color:black;
  color:white;
  border: solid 1px white;
}
.btn-wrapper {
  padding-bottom: 50px;
}
.manual-wrapper {
  height:1050px;
  padding-bottom:80px;
  background-color: black;
  text-align: center;
  width:100%;
}
.manuals {
  margin: 0 auto;
  width: 50%;
}
.heading h4 {
  margin: 0 auto;
  text-align: center;

  color:white;
  font-family: 'Montserrat', sans-serif;
  font-size: 50px;
  letter-spacing: 0.3em;
  padding-bottom: 10px;
  padding-top: 20px;
}
.manual-icon img {

  width:500px;

}
.manual-icon p {
  top:90px;
  width: 100%;
  color:white;
  font-size: 40px;
  margin-bottom: 10px;

  text-align: center;
}
.txt-contents {
  width:50%;
  display: inline-block;
  font-size:15px;
  color: white;
  font-weight: bold;
  letter-spacing: 2px;

  font-family: 'M PLUS Rounded 1c', sans-serif;

}
.detail {
  background-color: black;
  color:white;
  border: solid 1px white;
  letter-spacing: 5px;
  font-weight: lighter;
  transition: 0.5s;
}
.detail:hover {
  background-color: white;
  color:black;
  transition: 0.8s;
  border: solid 1px black;
}
.massage-wrapper {
  text-align: center;
  padding-bottom: 80px;

}
.massage {
  background-color:white;
  padding: 15px 40px;
  transition: 0.5s;
  color:black;
  border: solid 1px black;
  letter-spacing: 5px;
}
.massage:hover {
  transition: 0.5s;
  background-color:black;
  color:white;
  border: solid 1px white;
}


.heading {
  text-align: center;

}
.heading h5 {
　font-weight: lighter;
  font-size: 30px;
　margin-bottom: 5px;
 color:black;
 opacity: 0.7;
}
.heading h6 {
  font-family: 'Bebas Neue', cursive;
  font-size: 70px;
  color:black;
  margin-bottom: 20px;
  margin-top: 5px;
}

footer {
  height:550px;
  text-align: center;
  background-color:black;
  color:white;
}
footer h2 {
  margin-bottom: 5px;
}
.facebook {
  background-color: black;
  margin-right: 10px;
  border-radius: 4px;
  font-size: 2.5em;
  color:white;
}
.facebook:hover {
  transition: 0.5s;
  background-color:black;
  color:#ff0461;
  border: none;
}
.twitter {
  background-color:black;
  margin-right: 20px;
  border-radius: 4px;
  font-size: 2.5em;
  color:white;
}
.twitter:hover {
  transition: 0.5s;
  color:#ff0461;
  background-color: black;
  border: none;
}
.instagram {
  background-color: black;
  margin-right: 20px;
  border-radius: 4px;
  font-size: 2.5em;
  color:white;
}
.instagram:hover {
  transition: 0.5s;
  background-color: black;
  color:#ff0461;
  border: none;
}

.footer-contents li {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  margin-right: 40px;
  letter-spacing: 3px;

}
.footer-contents li:hover {
  border-bottom: solid 1px white;

}
.footer-contents a{
  font-family: 'Montserrat', sans-serif;
  color:white;
}
.footer-contents a:hover {
  border-bottom: solid 1px white;

}
